<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 fixed-top">
  <a class="navbar-brand" href="#">PH SHOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li>
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Categories</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button *ngFor="let category of categories$ | async | slice:0:6" class="dropdown-item"
              ngbDropdownItem>{{category}}</button>
          </div>
        </div>
      </li>
      <li>
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Brands</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button *ngFor="let brand of brands$ | async | slice:0:6" class="dropdown-item"
              ngbDropdownItem>{{brand}}</button>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" (click)="open($event)">Cart&nbsp;<span
            class="badge badge-success">{{numPurchased$ | async}}</span></a>
      </li>
      <li></li>
    </ul>

    <div class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" (keydown.enter)="search(searchTerm.value)"
        #searchTerm>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button"
        (click)="search(searchTerm.value)">Search</button>
    </div>


  </div>
</nav>


<main role="main" class="container main-content">
  <!-- <div class="jumbotron">
    <h1>Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this
      navbar remains in its original position and moves with the rest of the page.</p>
    <a class="btn btn-lg btn-primary" href="/docs/4.3/components/navbar/" role="button">View navbar docs &raquo;</a>
  </div> -->
  <p *ngIf="success === true && !closed">
    <ngb-alert [dismissible]="true" [type]="'success'" (close)="closed=true">
      <strong>Great!</strong> Transaction succeded
    </ngb-alert>
  </p>
  <p *ngIf=" success===false && !closed">
    <ngb-alert [dismissible]="true" [type]="'error'" (close)="closed=true">
      <strong>Warning!</strong> Transaction Failed, try again !
    </ngb-alert>
  </p>
  <router-outlet></router-outlet>
</main>