img {
    max-width: 240px;
    max-height: 240px;
    height: auto;
    width: auto;
    display: block;
    margin: 15px auto;
  }
  .img-container {
    padding: 0;
    margin: 0;
  }
  
  ngb-pagination {
    text-align: center;
  }
  
  .card-body {
    line-height: 75%
  }